.recipe-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  height: 100%;
}
.recipe-meta {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.recipe-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.star-rating {
  display: inline-block;
  font-size: 0;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  display: inline-block;
  font-size: 24px;
  padding: 4px;
  color: #ccc;
  cursor: pointer;
}

.star-rating label:before {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: inherit;
  position: relative;
  left: 0;
  color: #999;
}

.star-rating input[type="radio"]:checked + label:before,
.star-rating label:hover:before {
  content: "\f005";
  color: #ffcc00;
}

.custom-btn {
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.comments-list::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2em;
  text-align: justify;
  text-justify: inter-word;
  font-weight: lighter;
}
.ingredients-list {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.instructions-list {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

.bg-light {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardElt {
  margin: 1%;
  width: 23%;
}

#removeX {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  font-size: 30px;
  z-index: 999;
}

#recipeCard {
  text-decoration: none;
  color: inherit;
}

.paginatorDiv {
  display: flex;
  justify-content: center;
}

#upperDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#recImg {
  width: 260px;
  margin-left: 15%;
}

#recipesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

#recipeTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic";
}

#rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details {
  margin-bottom: 15px;
}

#similarDiv {
  margin: 1%;
  width: 23%;
}

.recipeDetButton {
  text-decoration: none;
  color: inherit;
}

.Checked {
  color: gold;
}
#commentNotAllowed {
  color: red;
}

.comments-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comments-list {
  width: 50%;
  height: 300px;
  overflow-y: scroll;
}

.add-comment {
  width: 50%;
}

.recCard {
  margin: 1%;
  width: 23%;
}

#addFavHeart {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  font-size: 30px;
  z-index: 999;
}

#removeFavHeart {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  font-size: 30px;
  z-index: 999;
  color: red;
}

#choicesDiv {
  display: flex;
}

.nav-link {
  flex-grow: 1;
  text-align: center;
}

.nav-link:first-child {
  text-align: left;
}

.nav-link:last-child {
  text-align: right;
}

.navbar-brand {
  font-family: "Lato";
  font-weight: bold;
  font-size: 30px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h2 {
  font-family: "Franklin Gothic";
}
