<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Register Page</title>
</head>
<body>
    <a href="{% url 'login' %}" class="button is-medium is-primary is-light"><strong>Return</strong></a>
    <section class="section">
        <div class="container">
            <div class="box">
                <div class="field">
                    <div class="control">
                        <h1 class="title is-2 has-text-centered has-text-primary mt-4">Register Page</h1>

                        <form method="post">
                            {% csrf_token %}
                            <label class="label">Username</label>
                            <input type="text" class="input" name="username" >

                            <label class="label">Email</label>
                            <input type="email" class="input" name="email" >

                            <label class="label">Password</label>
                            <input type="password" class="input" name="password1" >

                            <label class="label">Password Confirmation</label>
                            <input type="password" class="input" name="password2" >

                            
                            <div class="box has-text-centered">
                                <input type="submit" class="button is-primary is-default is-rounded is-fullwidth  mt-4 " name="" value="envoyer" >
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</body>
</html>